/* General page styles */

header {
  font-family: "Jomolhari", serif;
}

body {
  background-color: black;
}

h1 {
  font-family: "Jomolhari", serif;
  background-color: olivedrab;
  color: green;
  padding: 16px;
  margin-bottom: 5px;
}

#blogName {
  color: #00a0a0;
}

main {
  font-family: "Jomolhari", serif;
  margin-top: -5px;
  background-color: black;
}

.homepage-main {
  margin-top: 34px;
}

.user-name {
  background-color: #84a59d;
}

.blogPost-main {
  margin-top: 34px;
}

/* Nav styles */

.navBar {
  background-color: #00a0a0;
}

#logout {
  background-color: #84a59d;
}

/* Input/textarea styles */

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
  background-color: gray;
}

/* Button styles */

.btn {
  background-color: gray;
}

/* Card styles */

.card-header {
  background-color: goldenrod;
}

.card-body {
  background-color: olive;
}

.card {
  background-color: olive;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}